header {
    background-color: var(--cor-marrom);
    border: solid var(--cor-secundaria) .3rem;
    padding: 1rem 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.categorias {
    position: relative;
    text-align: center;
    background-color: var(--cor-amarelo);
    padding: 3% 5% 1% 5%;
    box-shadow: var(--sombra);
    color: var(--cor-secundaria);
    text-decoration: none;
}
